.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
}
.minus {
  border-radius: 100px 0 0 100px;
  background: #cf9775;
  box-shadow: none;
  font-family: "Sen", sans-serif;
  font-size: 1.5rem;
  padding: 12px 13px;
  font-weight: 600;
}
.plus {
  border-radius: 0 100px 100px 0;
  background: #cf9775;
  box-shadow: none;
  font-family: "Sen", sans-serif;
  font-size: 1.5rem;
  padding: 10px 13px;
  font-weight: 600;
}
.counter {
  background: white;
  padding: 8px 20px;
  font-size: 1.5rem;
  font-family: "Sen", sans-serif;
  color: #2d140d;
}
