<div class="fullWith">
  <ul class="list">
    <li>
      <img
        class="list-item-icon"
        src="../../assets/Espresso.svg"
        alt="Espresso Cup"
      /><span>Espresso</span>
      <img
        class="list-item-more"
        src="../../assets/back.svg"
        alt="Arrow Right"
      />
    </li>
    <li>
      <img
        class="list-item-icon"
        src="../../assets/Cappuccino.svg"
        alt="Cappucino Cup"
      />
      <span>Cappuccino</span>
      <img
        class="list-item-more"
        src="../../assets/back.svg"
        alt="Arrow Right"
      />
    </li>
    <li>
      <img
        class="list-item-icon"
        src="../../assets/macciato.svg"
        alt="Macchiato Cup"
      />
      <span>Macchiato</span>
      <img
        class="list-item-more"
        src="../../assets/back.svg"
        alt="Arrow Right"
      />
    </li>
    <li>
      <img
        class="list-item-icon"
        src="../../assets/Mocha.svg"
        alt="Mocha Cup"
      />
      <span>Mocha</span>
      <img
        class="list-item-more"
        src="../../assets/back.svg"
        alt="Arrow right"
      />
    </li>
    <li>
      <img
        class="list-item-icon"
        src="../../assets/latte.svg"
        alt="Latte Cup"
      />
      <span>Latte</span>
      <img
        class="list-item-more"
        src="../../assets/back.svg"
        alt="Arrow right"
      />
    </li>
  </ul>
</div>
