<div class="grid-container">
  <header class="grid-item-a"><p>Wir sind super!</p></header>
  <main class="grid-item-b">
    <div class="fullWith">
      <h2>It´s Great<span> Day for Coffee.</span></h2>
      <ul class="list">
        <li>
          <img
            class="list-item-icon"
            src="../../../assets/Espresso.svg"
            alt="Espresso Cup"
          /><span>Espresso</span>
          <img
            class="list-item-more"
            src="../../../assets/back.svg"
            alt="Arrow Right"
          />
        </li>
        <li>
          <img
            class="list-item-icon"
            src="../../../assets/Cappuccino.svg"
            alt="Cappucino Cup"
          />
          <span>Cappuccino</span>
          <img
            class="list-item-more"
            src="../../../assets/back.svg"
            alt="Arrow Right"
          />
        </li>
        <li>
          <img
            class="list-item-icon"
            src="../../../assets/macciato.svg"
            alt="Macchiato Cup"
          />
          <span>Macchiato</span>
          <img
            class="list-item-more"
            src="../../../assets/back.svg"
            alt="Arrow Right"
          />
        </li>
        <li>
          <img
            class="list-item-icon"
            src="../../../assets/Mocha.svg"
            alt="Mocha Cup"
          />
          <span>Mocha</span>
          <img
            class="list-item-more"
            src="../../../assets/back.svg"
            alt="Arrow right"
          />
        </li>
        <li>
          <img
            class="list-item-icon"
            src="../../../assets/latte.svg"
            alt="Latte Cup"
          />
          <span>Latte</span>
          <img
            class="list-item-more"
            src="../../../assets/back.svg"
            alt="Arrow right"
          />
        </li>
      </ul>
    </div>
  </main>

  <footer class="grid-item-c">
    <nav class="buttonnavigation">
      <a><img src="../../../assets/home.png" alt="Home Button" /></a>
      <a>
        <img src="../../../assets/position1.png" alt="Position Button" />
      </a>
      <a>
        <img src="../../../assets/coffeecpup1.png" alt="coffeecpup Button" />
        <span class="buttonnavigation_badge">1</span>
      </a>
      <a><img src="../../../assets/profile.png" alt="Profile Button" /></a>
    </nav>
  </footer>
</div>
