.welcome {
  background-image: url(../../../assets/bg/bg.png);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: ease;
}
@keyframes slidein {
  from {
    margin-top: 20%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    opacity: 1;
  }
}
